.searchContainer {
  display: flex;
  /* flex: 1 1 300px;
  position: relative; */
  border: 1px solid #ccc;
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto;
}

.searchIcon {
  /* padding: 0.5rem; */
  margin: auto 10px;
}

.MicIcon {
  margin: auto 15px;
  cursor: pointer;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  padding: 0 !important;
}